:root {
  /* Colors */
  --clr-primary-hsl: 300, 43%, 22%;
  --clr-secondary-hsl: 333, 80%, 67%;

  --clr-primary: hsl(300, 43%, 22%);
  --clr-secondary: hsl(333, 80%, 67%);

  --clr-neutral-hsl-100: 0, 0%, 100%;
  --clr-neutral-hsl-400: 300, 24%, 96%;
  --clr-neutral-hsl-500: 303, 10%, 53%;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(303, 10%, 53%);

  /* Font families */
  --ff-primary: "League Spartan", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Font sizes */
  --fs-300: 0.8125rem;
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-550: 1.0625rem;
  --fs-600: 1.125rem;
  --fs-700: 2.375rem;
}

/* CSS resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

/* Main style */
body {
  position: relative;
  display: grid;
  place-content: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  padding: 3rem 1.5rem;
}

.bg-pattern-top,
.bg-pattern-bottom {
  position: absolute;
  z-index: -1;
}

.bg-pattern-top {
  top: 0;
  left: 0;
}

.bg-pattern-bottom {
  bottom: 0;
  right: 0;
}

.container {
  --border-radius: 0.4rem;
  max-width: 69.5rem;
}

.intro {
  text-align: center;
  margin-block: 2rem;
}

.heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  max-width: 12ch;
  margin-inline: auto;
  margin-bottom: 1.65rem;
  letter-spacing: -0.03125rem;
  line-height: 0.85;
}

.desc {
  font-size: var(--fs-600);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-300);
  line-height: 1.35;
  letter-spacing: -0.0075rem;
}

.ratings {
  margin-top: 2.6rem;
}

.rating {
  text-align: center;
  margin-inline: auto;
  display: grid;
  place-content: center;
  gap: 0.8rem;
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-200);
  padding: 0.95rem;
  letter-spacing: 0.05rem;
}

.rating:not(:first-child) {
  margin-top: 1rem;
}

.rating__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.rating__place {
  font-size: var(--fs-550);
  font-weight: var(--fw-bold);
  letter-spacing: 0rem;
  color: var(--clr-primary);
}

.feedbacks {
  display: grid;
  gap: 1.9rem;
  margin-top: 3rem;
}

.user {
  font-size: var(--fs-400);
  border-radius: var(--border-radius);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
  padding: 2.5rem 2rem;
  line-height: 1.1;
}

.user header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.user__pfp {
  width: 2.5rem;
  border-radius: 100vw;
}

.user__name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
}

.user__status {
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  color: var(--clr-secondary);
}

.user__feedback {
  font-size: var(--fs-500);
  line-height: 1.4;
}

.attribution {
  text-align: center;
  padding-block: 1.5rem;
}

.attribution a {
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
}

.attribution a:hover {
  color: var(--clr-secondary);
}

@media (min-width: 50em) {
  :root {
    --fs-700: 3.5rem;
  }

  body {
    padding: 5.475rem 1.5rem;
  }

  .container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1.5fr;
  }

  .intro {
    text-align: left;
    grid-column: 1 / 2;
  }

  .heading {
    margin-inline: 0;
    letter-spacing: -0.12rem;
  }

  .ratings {
    margin-top: 0rem;
    margin-left: 6rem;
    grid-column: 2 / 3;
    align-self: center;
  }

  .rating {
    margin-inline: revert;
    max-width: 27.8125rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.1rem;
    gap: 0.5rem;
  }

  .rating:nth-child(1) {
    margin-right: auto;
  }

  .rating:nth-child(2) {
    margin-inline: auto;
  }

  .rating:nth-child(3) {
    margin-left: auto;
  }

  .feedbacks {
    display: flex;
    grid-column: 1 / -1;
    margin-top: -0.3rem;
  }

  .user {
    max-width: 21.8rem;
  }

  .user:nth-child(2) {
    transform: translateY(1rem);
  }

  .user:nth-child(3) {
    transform: translateY(2rem);
  }

  .attribution {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 0rem;
  }
}
